
body {
	margin-top:75px;
	font-size: 16px;
	background: url(../img/bg.png) repeat;
	color:black;
}
#head > h3{
	margin-top: 10px;
}

h1, h2, h3, h4, h5{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%
}
.about{
	background-color: whitesmoke;
    border-radius: 10px;
	border: outset lightgrey 9px;
}
div.about > p, #aboutQuote > h3 {
	color:black;
}


.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}


.about-me {
	margin-top:25px;
}

nav {
	display: flex;
}

.navbar-default {
	background-color: whitesmoke;
    border: none;
    border-radius: 0;
	border-bottom: solid grey 2px;
}

.navbar-text a.navbar-link {
	font-size: 1.3em;
	font-weight: bolder;
	float:left;
	margin:15px 10px 15px 10px;
}
.navbar-text {
    display: inline-block;
    margin: 15px 5px 15px 5px;
}
@media (min-width: 768px){
	.navbar-text {
		float: left;
		margin-right: 15px;
		margin-left: 15px;
	}
}
.row-grey p, .row-grey h3, .row-grey ul, .row-grey h2{
	color:whitesmoke;
}
.row-grey h2 > a{
	color: rgb(87, 155, 234);
}
.row-grey .btn-launch{
	box-shadow: 0px 2px 5px 1px black;
}
.row-grey {
	
	background-color: rgba(0, 1, 1, 0.65);
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.row-white {
	
	padding: 65px 10px;
}

.row-footer {

	padding: 65px 10px;
}
.moreinfo{
	margin:5px;
}

.row-tools {
  padding: 50px 0;
}

.linkedin-btn {
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #549657;
	color:white;
	margin-bottom:5px;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #3d7140;
}
.btn-outline-light:hover {
	background: white;
}
.btn{
	padding:unset;
}

.formstyle {
    display: inline-block;
    border: 50px ridge black;
    border-radius: 15%;
    width: 40%;
    padding: 50px;
}
