
body {
/*	background: #F2E9E4;*/
	/* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #ef32d9, #89fffd);*/
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	margin-top:100px;
	font-size: 16px;
	background: url(../img/bg.png) repeat;
	color:black;
}
#head{
	/* background: url('../img/background.jpg') top center no-repeat #bababa; */
	/* background-size:cover; */
	/* height:100vh; */
}

h1, h2, h3, h4, h5{
	/* color:#4A4E69 !important; */
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	/* color: #4A4E69; */
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.profile-pic {
	box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%
}

.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}


.about-me {
	margin-top:25px;
}

nav {
	display: flex;
}

.navbar-default {
	background-color: whitesmoke;
    border: none;
    border-radius: 0;
	border-bottom: solid grey 2px;
}

.navbar-text a.navbar-link {
	font-size: 1.3em;
	font-weight: bolder;
	float:left;
	margin:15px 10px 15px 10px;
}
.navbar-text {
    display: inline-block;
    margin: 15px 5px 15px 5px;
}
@media (min-width: 768px){
	.navbar-text {
		float: left;
		margin-right: 15px;
		margin-left: 15px;
	}
}

.row-grey {
	/* background-color: lightgrey; */
	background-color: rgba(194, 201, 201, 1.0);
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}

.row-white {
	/*background-color: lightgrey;*/
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
	/*clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);*/
	padding: 65px 10px;
}

.row-footer {
/*	background-color: lightgrey;
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);*/
	padding: 65px 10px;
}
.moreinfo{
	margin:5px;
}

.row-tools {
  padding: 50px 0;
}

.linkedin-btn {
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #549657;
	color:white;
	margin-bottom:5px;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #3d7140;
}
.btn-outline-light:hover {
	background: white;
}
.btn{
	padding:unset;
}

.formstyle {
    display: inline-block;
    /* background-color: black; */
    border: 50px ridge black;
    border-radius: 15%;
    width: 40%;
    padding: 50px;
}
